$navbar-height: auto 0;


body {
  background: url('https://i.imgur.com/3psZeOe.png') fixed center/cover;
  min-height: 100vh;
  min-width: 100vw;
  padding-top: 10px;
}

.bars {
  width: 500px;
  height: 75px;
  font-size: 40px;
  border-radius: 30px;
}

.boxpadding {
  padding-top: 150px;
}

.label {
  font-size: 40px;
  color: white;
}

.submitButton {
  padding-top: 50px;
}

.regpadding {
  padding-top: 100px;
}

.haveaccount {
  padding-top: 300px;
}

.noaccount {
  padding-top: 620px;
}

.navbar {
  background-color: #02539D66;
  font-size: 50px;
}

.navbar-burger {
  color: white;
}

.burger-color {
  color: white;
}

.eventTitle {
  padding-top: 20px;
}

.navbar-item {
  font-size: 40px;
  color: white;
}

.navbar-menu {
  background-color: #02539D66;
}

.journeyIndex {
  background-color: #02539DAA;
  max-width: 90vw;
  margin-top: 50px;
  margin-left: 50px;
}

.userIndexBI {
  border-radius: 20%;
  max-width: 400px;
  padding-left: 30px;
  padding-right: 30px;
}

.profilePic {
  border-radius: 100%;
  max-height: 300px;
  min-height: 300px;
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 1px;
  width: 300px;
}

.follow {
  background-color: #FFFA;
  border: solid 3px black;
  width: 200px;
  height: 80px;
  margin-top: 60px;
  margin-left: 110px;


}

.imgDiv {
}

.followDiv {
  margin-left: 20px;
  height: 100px;
  width: 150px;
  padding-bottom: 150px;
}

.profileImages {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.profileBoardImg {
  border-radius: 10%;
  padding-left: 20px;
  max-height: 300px;
  min-height: 300px;
  margin-right: 40px;
}


.profileImg {
  border-radius: 100%;
  padding-bottom: 20px;
  max-height: 200px;
}

.padder {
  padding-left: 153px;
}

.userIndexPad {
  padding-left: 90px;
  padding-top: 60px;
}

.pad {
  height: 50px;
  font-size: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 75px;
}

.eventText {
  color: white;
  margin-bottom: 1px;
}

.form {
  height: 75px;
  font-size: 30px;
  border-radius: 30px;
}

.indexText {
  color: white;
  font-size: 50px;
}

.journeyImg {
  margin-top: 50px;
  min-width: 80vw;
}

.journeyText {
  margin-left: 50px;
}

.profileText {
  margin-left: 20px;
  margin-top: 50px;
}

.profileButton {
  margin-top: 20px;
}

.userName {
  font-size: 100px;
  padding-left: 20px;
}

.button {
  font-size: 35px;
}
